* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background-color: #fff;
  font-family: $font-family--primary;
  font-size: 1em;
  line-height: 1.4em;
}

#main, .wrapper{
  width: 80%;
  max-width: 68.75rem;
  display: block;
  margin: 0 auto;
}

.clearfix{
  display: block;
  width: 100%;
  clear: both;
}
