/** Fonts **/

$font-family--primary: 'Lato', sans-serif;
$font-family--secondary: 'Lato', sans-serif;

$font-weight--normal: 400;
$font-weight--bold: 700;


/** Colours **/

$color1: #575757; // black
$color2: #CFC3BD; // brown
$color3: #AE8AA6; // light purple
$color4: #6B516E; // dark purple
$color5: #C4D8DC; // blue


/** Sizes **/

$mobile: 320px;
$tablet: 760px;
$desktop: 960px;
$large-desktop: 1300px;
