---
layout: default
---


<section class="portfolio_listing">

  <h1 class="page-heading">Portfolio</h1>

  <div class="portfolio_list">
    {% for post in site.categories.blog limit:4 %}
      <div class="portfolio_list-item" style="background-image:url('{{ post.image }}');">
        <h2>
          <a class="portfolio_link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </div>
    {% endfor %}
    <div class="clearfix"></div>
  </div>

</section>

<section class="job_listing">

  <h1 class="page-heading">Work History</h1>

  <div class="job_list">
    {% for job in site.data.history %}
      <div class="job_item">
        <h2>
          {{ job.name }}
        </h2>
        <p>{{ job.timeline }}</p>
        <p>{{ job.job-title }}</p>
      </div>
    {% endfor %}
    <div class="clearfix"></div>
  </div>

</section>


<section class="post_listing">

  <h1 class="page-heading">Posts</h1>

  <div class="post_list">
    {% for post in site.categories.blog limit:4 %}
      <div class="post_list-item">
        <h3>
          <a class="post_link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h3>
        <span class="post_meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p class="post_excerpt">{{ post.excerpt }}</p>
      </div>
    {% endfor %}
    <div class="clearfix"></div>
  </div>

</section>
